<form method="POST" action="/new" class="new-message-form">
    <label for="username">
        <h4>
            Username:
        </h4>
    </label>
    <input type="text" name="username" placeholder="Username" required>
    <label for="username">
        <h4>
            Message:
        </h4>
    </label>
    <textarea name="messageText" id="messageText" cols="30" rows="10" placeholder="Write your message here!"
        required></textarea>
    <button type="submit">Send Message!</button>
</form>